<!DOCTYPE>
<html>
<head>
    <style>
body {
  background-color: lightblue;
}

    </style>
</head>
<body>

<h2 style="color:blue">Welcome to recrumeVEG </h2>

</body>

<style>
body {
  font-size: 20px;
}


</style>
<body>
<p> <h4 style="color:blue"> &#9733; We are the Staffing-Recruiting Champs &#9733;</h4></p>

<p>RecrumeVEG is the best Recruitment Agency providing recruiting and staffing services. <br><br>

<h4 style="color:blue"> Our purpose : </h4>

<head>
    <style>

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  margin-left: 35px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 30%;
}






    </style>
</head>
</body>

<body>

<ul>
    <li>To look for talent</li>
    <li>To help people find new job opportunities</li>
    <li>To help companies attract and retain the best</li>
</ul>

</body>

<style>
body {
  font-size: 20px;
}


</style>
<body>
<p><h4 style="color:blue">&#9745; We match the right person with the right job, enabling people and organizations to
    exceed their
    potential.</h4>

</p>

</body>

</html>